@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&display=swap');

* 
{
    margin: 0px;
    padding: 0px;
}

.bg-color 
{
    background: #141E30; 
    background: -webkit-linear-gradient(to right, #243B55, #141E30); 
    background: linear-gradient(to right, #243B55, #141E30); 
    width: 100%;
    height: 770px;
}

/* navbar */

.navbar-brand
{
    color: whitesmoke;
}

.collapse .navbar-nav 
{
    margin-left: auto;
}

ul li
{
    padding-left: 20px;
}

ul li a
{
    color: whitesmoke;
    font-size: 18px;
}

ul li a:hover
{
    color: skyblue;
}

/* bg-content */

.con-one 
{
    height: 700px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.con-one .head-1
{
    font-family: 'Archivo Black', sans-serif;
    font-size: 50px;
    color: whitesmoke;
}

.con-one .head-2 
{
    color: skyblue;
    font-size: 27px;
    padding-top: 20px;
}

.con-one .btn-1
{
    width: 150px;
    height: 45px;
    border-radius: 30px;
    border-style: none;
    margin-top: 60px;
    background-color: steelblue;
    color: whitesmoke;
}

.con-one .btn-1:hover
{
    opacity: 0.7;
}

#img-one
{
    width: 500px;
    height: 500px;
    margin-top: 100px;
    margin-left: 30px;
    animation: back 4s ease-out infinite;
}

@keyframes back
{
    0%
    {
        margin-top: -10px;
    }
    100%
    {
        margin-top: 100px;
    }
}

/* about us */

.con-two .head-3
{
    text-align: center;
    padding-top: 80px;
    position: relative;
}

.con-two .head-3::after
{
    content: "";
    position: absolute;
    width: 120px;
    margin-top: 45px;
    margin-left: -138px;
    height: 7px;
    border-radius: 20px;
    background-color:skyblue;
}

.con-two .col-one .para-1
{
    padding-top: 60px;
    font-size: 18px;
    color: gray;
}

.col-one .btn-2
{
    width: 170px;
    border-radius: 10px;
    color: skyblue;
    height: 50px;
    border: 3px solid steelblue;
    font-weight: bold;
}

.col-one .btn-2:hover
{
    color: white;
    background-color: steelblue;
    border: none;
}

/* services */

.con-three .head-4
{
    text-align: center;
    padding-top: 80px;
    position: relative;
}

.con-three .head-4::after
{
    content: "";
    position: absolute;
    width: 120px;
    margin-top: 45px;
    margin-left: -128px;
    height: 7px;
    border-radius: 20px;
    background-color:skyblue;
}

.con-three .para-2
{
    text-align: center;
    padding-top: 50px;
    font-size: 18px;
    color: gray;
}

.box-1
{
    width: 300px;
    height: 300px;
    background-color:#e6e6e6;
    margin-top: 30px;
}

.box-1 .fab
{
    color: skyblue;
    font-size: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 20px;
}

.head-5
{
    color: black;
}

.head-5 ,.para-3
{
    padding-top: 40px;
    text-align: center;
    color: gray;
}

/* portfolio */

.ulist button
{
    margin-left: 50px;
}

.ulist
{
    display: flex;
    justify-content: center;
    margin-top: 100px;
}

.ulist .btn-ul
{
    width: 100px;
    height: 35px;
    border-radius: 30px;
    background-color: steelblue;
    border-style: none;
}

.ulist .btn-ul:hover
{
    background-color: thistle;
    color: black;
}

.image
{
    position: relative;
}

.image-img
{
    width: 280px;
    height: 220px;
}

.overlay 
{
    position: absolute;
    top: 0px;
    left: 0px;
    width: 280px;
    height: 220px;
    background: rgba(0, 0, 0, 0.6);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: 0.5s ease-in;
}

.overlay:hover
{
    opacity: 1;
}

/* footer */

footer
{
    background-color: skyblue;
    height: 100px;
    margin-top: 60px;
}

footer h6
{
    line-height: 100px;
    text-align: center;
}

/* circle after scroll */

#circle
{
    font-size: 60px;
    color: blue;
    position: fixed;
    bottom: 0;
    right: 0;
    margin-bottom: 20px;
    margin-right: 20px;
    border-radius: 50%;
    display: none;
}

/* scroll navbar */

.sticky
{
    position: fixed;
    top: 0px;
}


